extends layout

block content
   head
      link(rel='stylesheet', href='/stylesheets/contact.css', type='text/css')
      // tabs
    body
    .wrapper.col2
      #container.clear
        // #######################################################################################################
        #content 
          h1 Sell an Engineering Book Now!
          .row.header
            .container22
              .row
                form.col.s12(method='POST', action='/books')
                  .row
                    .form-group.col.s12.m12.l6
                      label
                      a(href='http://postimage.io/', target='_blank') CLICK HERE TO UPLOAD IMAGE
                      input.form-control(type='text', name='image', placeholder='*Copy the DIRECT LINK here', required='', aria-required='true')
                      br
                    .form-group.col.s12.m12.l6
                      label Book Title
                      input.form-control(type='text', name='title', placeholder='Engineering Mechanics', required='', aria-required='true')
                      input.form-control(type='hidden', placeholder='Username', value='#{user.username}' name='username')
                      br
                    .form-group.col.s12.m12.l6
                      label Author
                      input.form-control(type='text', name='author', placeholder='Venancio Besavilla', required='', aria-required='true')
                      br
                    .form-group.col.s12.m12.l6
                      label Publication Date
                      input.form-control(type='text', name='pub_date', placeholder='2009', required='', aria-required='true')
                      br
                    .form-group.col.s12.m12.l6
                      label Edition
                      input.form-control(type='text', name='edition', placeholder='Second Edition', required='', aria-required='true')
                      br
                    .form-group.col.s12.m12.l6
                      label Category
                      input.form-control(type='text', name='category', placeholder='Civil,CPE')
                      br
                    .form-group.col.s12.m12.l6
                      label Price
                      input.form-control(type='text', name='price', placeholder='P200')
                      br
                    .form-group.col.s12.m12.l6
                      label Uploader Name
                      input.form-control(type='text', name='uploader_name', placeholder='Juan Dela Cruz')
                      br
                    .form-group.col.s12.m12.l6
                      label Contact Number of the Uploader
                      input.form-control(type='text', name='contact', placeholder='123456789')
                      br
                    .form-group.col.s12.m12.l6
                      label Email Address of the Uploader
                      input.form-control(type='email', name='email', placeholder='your@email.com')
                    br
                    button.btn(type='submit')
                      | Submit 
                      i.material-icons.right
  Scripts
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='javascripts/materialize.js')
    script(src='javascripts/init.js')
  
        

