extends layout

block content
    .wrapper.col2
      #container.clear
        // #######################################################################################################
        #content
          h1 List of Engineering Books
            br
            br
            section.webdesigntuts-workshop
              form(action='', method='', onsubmit='getSearch()')
                input#search(type='search', placeholder='search book..' name='search')
                button Search
          #demo
            
              br

              h1#totalCount
              #allBooks
              br
              table.highlight.bordered.responsive-table#result
                thead
                  tr
                    th(style='width: 45%; font-size:90%') Book Title
                    th(style='width: 20%; font-size:90%') Author
                    th(style='width: 25%; font-size:90%') Uploader Name
                    th(style='width: 25%; font-size:90%') Date Posted
                    
                tbody#entry
            
      // #######################################################################################################
    // #######################################################################################################

