extends layout

block content
    .wrapper.col2
      #container.clear
        // #######################################################################################################
        #content
          h1 List of Engineering Books
            form(action='', method='', onsubmit='getnewSearch()')
              input#search(type='search', placeholder='What Engineering Book are you looking for?', name='search')
              button Search
          #demo
            
            br

            h1#totalBookcount
            #allBooks
            br
            br
            h1 Engineering Books Uploaded
              table.highlight.bordered.responsive-table#result
                thead
                  tr
                    th(style='width: 45%; font-size:90%') Book Title
                    th(style='width: 20%; font-size:90%') Author
                    th(style='width: 20%; font-size:90%') Uploader Name
                    th(style='width: 20%; font-size:90%') Date Uploaded
                    
                tbody#newentry
                                    
      // #######################################################################################################
    // #######################################################################################################

